In [3]:
import pandas
import numpy
import re

In [5]:
df = pandas.read_csv('./Data/movies_awards.csv')

In [57]:
df.drop(df.columns[0:5], axis = 1, inplace = True)
df.drop(df.columns[1:10], axis = 1, inplace = True)
df.drop(df.columns[2:7], axis = 1, inplace = True)
df.head()

,Title,Awards,Awards_won,Awards_Nominated,Prime_Awards_won,Prime_Awards_nominated,Oscar_Awards_won,Oscar_Awards_nominated,Golden_Globe_Awards_won,Golden_Globe_Awards_nominated,BAFTA_Awards_won,BAFTA_Awards_nominated
0,Book of Love: The Definitive Reason Why Men Ar...,NaN,,,,,,,,,,
1,Anderssons älskarinna,NaN,,,,,,,,,,
2,Bad Blood,NaN,,,,,,,,,,
3,Who Are You?,1 win & 2 nominations.,,,,,,,,,,
4,Skeletons in the Closet,1 win.,,,,,,,,,,

In [39]:
def extractAwards(awardString):
    #split string into substrings
    awardString = awardString.replace('. ',',')
    awardString = awardString.replace('& ',',')
    awardString = awardString.split(',')
    
    
    return [intrepretAward(a) for a in awardString]

In [51]:
def intrepretAward(awardSubString):
    #split string into words
    words = awardSubString.split(' ')
    winType = 'win(s)'
    number = 0
    
    #make strings lowercase to limit iterations
    #also deletes trailing period and finds the number of awards
    for w in range(len(words)):
        if len(words[w]):
            words[w] = words[w].lower()
            if words[w][-1] == '.':
                words[w].replace('.','')
            if words[w].isdigit():
                number = words[w]
    
    #determine award type
    awardType = 'unknown'
    if words.count('primetime'):
        awardType = 'Prime'
    if words.count('oscar') or words.count('oscars'):
        awardType = 'Oscars'
    if words.count('golden'):
        awardType = 'Golden' 
    if words.count('bafta'):
        awardType = 'BAFTA'
    
    
    #wins or nominations
    if words.count('nomination') or words.count('nominations') or words.count('nominated'):
        winType = 'nomination(s)'
            
    return [awardType,winType,number]

In [55]:
df['Awards_won'] = ''
df['Awards_nominated'] = ''
df['Prime_Awards_won'] = ''
df['Prime_Awards_nominated'] = ''
df['Oscar_Awards_won'] = ''
df['Oscar_Awards_nominated'] = ''
df['Golden_Globe_Awards_won'] = ''
df['Golden_Globe_Awards_nominated'] = ''
df['BAFTA_Awards_won'] = ''
df['BAFTA_Awards_nominated'] = ''

In [56]:
df.head()

,totalSeasons,Plot,Rated,Response,Language,Title,Country,Writer,Metascore,imdbRating,...,Awards_won,Awards_Nominated,Prime_Awards_won,Prime_Awards_nominated,Oscar_Awards_won,Oscar_Awards_nominated,Golden_Globe_Awards_won,Golden_Globe_Awards_nominated,BAFTA_Awards_won,BAFTA_Awards_nominated
0,none,NaN,NaN,True,English,Book of Love: The Definitive Reason Why Men Ar...,USA,Jeffrey W. Byrd; Eric George,NaN,6.6,...,,,,,,,,,,
1,none,NaN,NaN,True,Swedish,Anderssons älskarinna,Sweden,NaN,NaN,7.4,...,,,,,,,,,,
2,none,NaN,NaN,True,English,Bad Blood,UK,Tony Marchant,NaN,5.6,...,,,,,,,,,,
3,none,A historical classic drama in three acts; reto...,NaN,True,Portuguese,Who Are You?,Portugal,João Botelho; Almeida Garrett (play),NaN,6.1,...,,,,,,,,,,
4,none,A father (Williams) suspects his son (Jackson)...,R,True,English,Skeletons in the Closet,USA,Donna Powers; Wayne Powers,NaN,5.4,...,,,,,,,,,,

In [49]:
extractAwards('Another 2 wins ')

[['unknown', 'win(s)', '2']]

In [52]:
testStrings = ['10 nominations.','7 wins & 14 nominations.','Nominated for 1 Oscar. Another 2 wins & 49 nominations.']
for s in range(len(testStrings)):
    testStrings[s] = testStrings[s].replace('. ',',')
    testStrings[s] = testStrings[s].replace('& ',',')
    testStrings[s] = testStrings[s].split(',')

In [54]:
testStrings = ['10 nominations.','7 wins & 14 nominations.','Nominated for 1 Oscar. Another 2 wins & 49 nominations.']
extractAwards(testStrings[2])

[['Oscars', 'nomination(s)', '1'],
 ['unknown', 'win(s)', '2'],
 ['unknown', 'nomination(s)', '49'],
 ['unknown', 'win(s)', 0]]

In [58]:
testStrings[2]

'Nominated for 1 Oscar. Another 2 wins & 49 nominations.'

In [19]:
testStrings[0][0].split(' ')

['10', 'nominations.']